/* ----------Deal and Discounts --------------*/
.discounts-container {
    border: 1px solid goldenrod;
    height: auto;
}

.discounts-package-info img{
    width: 100%;
    /* position: relative; */
}

article{
    position: relative;
}

.discount-info{
    border: 1px solid red;
    width: 40vw;
    height: 40vh; /*40vh*/

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 16px;

    position: absolute;
    bottom: 30%;
    right: 5%;
}

.discount-info-2{
    right: 50%;
}

.time-location {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    padding-left: 0;
}

.time-location li img{
    width: 100%;
}

.discount-info .price{
    color: #FF5400;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 2vh;
}

.discount-info h4{
    margin-bottom: 0;
}


/* -------A simple perfect place----- */
.watchPlace-container {
    /* background-color: blueviolet; */
    /* margin: 10vh 0; */
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5vw; */
}

.watchPlace-content{
    width: 40%;
    padding: 16px 0;
    line-height: 2;
}

.watch-sample{
    padding-left: 2vw;
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
/* ----------NewsLetter----------- */
.newsletter-container {
    /* margin: 10vh 0; */
    height: 60vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news-letter-content{
    border: 1px solid #FF5400;
    width: 30%;
    padding: 40px;

    border-radius: 8px;
}

hr{
    margin: 3vh 0;
}

.news-letter-content form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1vh;

}

.news-letter-content form input{
    width: 20vw;
    padding: 16px 10px;

    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline-color: #FF5400;
}

.newsLetter-sample-img{
    width: 40%;
}

.newsLetter-sample-img img{
    width: 100%;
}