/* universal - Shared-design*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Mulish", sans-serif;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.btn-primary{
    background-color: #FF5400;
    color: #FFF;
    padding: 3vh 4vw;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
}

/* ---------header Section------ */
header {
    background-color: #FFF;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.nav-logo-title span {
    color: #FF5400;
}

.nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.nav-info a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav-info .home {
    color: #FF5400;
    font-weight: bold;
}

.nav-options button{
    display: none;
    background-color: #FFF;
    border: 0;
}

/* .nav-info button:hover{
    cursor: pointer;
} */


/* ---------Banner Section--------- */
.banner-container {
    height: 70vh;
    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 16px;
    position: relative;
}

.banner-details {
    height: 70vh;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    color: #FFF;
}


.info{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.banner-details h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
    padding-top: 10vh;
}


.schedule {
    width: 800px;
    height: auto;
    margin: 0 auto;

    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    position: relative;
    bottom: 50%;
}

.schedule form {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.schedule input[type=text] {
    width: 174px;
    height: 52px;
    border: 0;
    padding-left: 10px;
    border-radius: 8px;
}

.btn-find {
    width: 174px;
    height: 52px;
    background-color: #FF5400;
    color: #FFF;
    border: 0;
    border-radius: 8px;

}



/* ---------Main Section------ */
/* main {
    
} */

.popularTour-container {
    margin-top: 10vh;
    height: 70vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    padding: 0 5vw;

}

.tour-info{
    width: 45vw;
}

.tour-info p, li{
    font-size: 14px;
    color: rgba(19, 19, 24, 0.70);
}

.tour-img{
    width: 35vw;
}

.tour-img img{
    width: 100%;
}



/* ---------------------------- */

.destination-container {
    height: auto;
}

.destination-content{
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0;
}

.destination-content h2{
    font-size: 2rem;
    margin-bottom: 0;
}

.thumbnail{
    display: grid;
    justify-items: center;
    margin-bottom: 3vh;
}

.first-theme-row,
.third-theme-row
{
    grid-template-columns:  auto auto;
}

.second-theme-row{
    grid-template-columns: auto auto auto;
}

/* ---------Why Choose us--------- */
.chooseUs-container {
    height: auto;
    margin: 10vh 0;
}

.chooseUs-content,
.discounts-content{
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0;
}

.service-categories-row-1{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 15px;
}

.worldClass-background{
    background: rgba(41, 206, 246, 0.05)!important;
}

.service-category-row-2{
    width: 100%;
    margin: 0 auto;
}

.category{
    width: 40vw;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}




/* ----------Deal and Discounts --------------*/
.discounts-container {
    height: auto;
}

.discounts-package-info img{
    width: 100%;
}

article{
    position: relative;
}

.discount-info{
    width: 40vw;
    height: 40vh;

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 16px;

    position: absolute;
    bottom: 30%;
    right: 5%;
}

.discount-info-2{
    right: 50%;
}

.time-location {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    padding-left: 0;
}

.time-location li img{
    width: 100%;
}

.discount-info .price{
    color: #FF5400;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 2vh;
}

.discount-info h4{
    margin-bottom: 0;
}


/* -------A simple perfect place----- */
.watchPlace-container {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.watchPlace-content{
    width: 40%;
    padding: 16px 0;
    line-height: 2;
}

.watch-sample{
    padding-left: 2vw;
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
/* ----------NewsLetter----------- */
.newsletter-container {
    margin: 10vh 0;
    height: 60vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news-letter-content{
    border: 1px solid #FF5400;
    width: 30%;
    padding: 40px;

    border-radius: 8px;
}

hr{
    margin: 3vh 0;
}

.news-letter-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

}

.news-letter-content form input{
    width: 20vw;
    padding: 16px 10px;

    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline-color: #FF5400;
}

.newsLetter-sample-img{
    width: 40%;
}

.newsLetter-sample-img img{
    width: 100%;
}




/* ---------Footer Section------ */
footer {

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.logo span{
    color: #FF5400;
}

.contact-journeyer {
    background: rgba(19, 19, 24, 0.05);
    height: 40vh;
    padding: 5vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details{
    width: 60vw;
    text-align: center;
}

.social-icons a{
    margin-right: 3vw;
}




/* ---------------------------------
-----------------------
-------@Media Query---------- 
------------------------
--------------------------------------*/

/* Responsive Design for tablet */
@media screen and (min-width: 601px) and (max-width:992px) {
    body {
        /* In Future */
    }
}

/* ----------Responsive Design for Mobile */
@media screen and (max-width: 600px) {
    body {
    
    }

    nav {
        width: 48%;
        height: 8vh;
    }

    
    
    .nav-options button{
        display: inline-block;
        background-color: #FFF;
        border: 0;
    }
    
    .nav-options button:hover{
        cursor: pointer;
    }


/* -----------Hamburger Menu Btn------------- */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 30px;
    right: 15%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content li:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
/* -------------------- */

    /* --------Banner-section----------- */
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-container {
        width: 48%; 
        height: 100vh;
        margin: 0;
    }

    .banner-details{
        width: 100%; 
        height: auto;
    }
    .info{
        width: 70%;
        margin: 0 auto;
    }

    .banner-details h1 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0;
        padding-top: 4vh;

    }

    .banner-details p {
        font-size: 1rem;
        font-weight: 400;
    }

    /* -------------------- */
    .schedule {
        width: 70%;
        height: auto;
        margin: 0 auto;
    
        position: relative;
        bottom: -60px;
    }
    
    .schedule form {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .schedule input[type=text] {
        width: 60vw;
        height: 8vh;
        border: 0;
        padding-left: 10px;
        border-radius: 8px;
        font-size: 1rem;
        text-align: center;
    }

    .schedule input[type=text]:hover{
        outline-color: #FF5400;
    }
    
    .btn-find {
        width: 60vw;
        height: 8vh;
        background-color: #FF5400;
        color: #FFF;
        border: 0;
        border-radius: 8px;
        font-size: 1rem;

    
    }

    /* ----Our Popular Tours------ */
.popularTour-container {
    margin-top: 0;
    width: 42%; 
    height: auto;

    flex-direction: column;
    gap: 2vh;
}

.tour-info{
    width: 100%;
}

.tour-info h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.tour-info p, li{
    width: 100%;
    font-size: 1.5rem;
}

.tour-img{
    width: 100%;
}

.tour-img img{
    width: 100%;
    height: auto;
}

/* ----Choose your destination-- */
.destination-container {
    height: auto;
}

.destination-content{
    width: 48%;
    margin: auto 0;
    text-align:center;
    padding: 0 1vw;
}

.destination-content,
.chooseUs-content,
.discounts-content h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.destination-content,.chooseUs-content,
.discounts-content p{
    font-size: 1.5rem;
}

.thumbnail{
    display:block;
    align-items: center;
    margin-bottom: 0;
}

.first-theme-row,
.third-theme-row img
{
    width: 48%;
    height: auto;
    margin-bottom: 16px;
}

.second-theme-row img{
    width: 48%;
    height: auto;
    margin-bottom: 16px;
}




/* ---------Why Choose us--------- */
.chooseUs-container {
    width: 48%;
    height: auto;
}

.chooseUs-content,
.discounts-content{
    width: 68%;
    margin: 0 auto;
    text-align: center;
}

.chooseUs-content h2{
    margin-top: 0;
}

.service-categories-row-1{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
}

.worldClass-background{
    background: rgba(41, 206, 246, 0.05)!important;
}

.service-category-row-2{
    width: 100%;
    margin: 0 auto;
}

.category{
    width: 70%;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}



/* ----------Deal and Discounts --------------*/
.discounts-container {
    width: 48%;
    height: auto;
}

.discounts-package-info{
    width: 80%;
    margin: 0 auto;
}


.discounts-package-info img{
    width: 100%;
    height: 100vh;
}

article{
    position: relative;
}

.discount-info{
    width: 70%;
    height: auto;

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 16px;

    position: absolute;
    bottom: 10%;
    right: 10%;
}

.discount-info-2{
    right: 10%;
}

.time-location {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3vw;
    padding-left: 0;
}

.time-location li{
    font-size: 1rem;
}

.discount-info .price{
    color: #FF5400;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 2vh;
}

.discount-info h4{
    margin-bottom: 0;
}


/* -------A simple perfect place----- */

.watchPlace-container {
    width: 48%; 
    height: auto;

    flex-direction: column;
    justify-content: flex-start;
    gap: 25vh;
}

.watchPlace-content{
    width: 100%;
    height: auto;
    padding-left: 20vw;
}

.watchPlace-content p, li{
    width: 80vw;
    font-size: 1rem;
}

.watch-sample{
    width: 90%;
    height: 10vh;
}

.watch-sample video{
    width: 100%;
    border-radius: 10px;
}



/* ----------NewsLetter----------- */
.newsletter-container {
   margin-top: 20vh;
    height: auto;

    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

.news-letter-content{
    border: 1px solid #FF5400;
    width: 42%;
    padding: 40px;
    border-radius: 8px;
}

hr{
    margin: 3vh 0;
}

.news-letter-content form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1vh;

}

.news-letter-content form input{
    width: 60vw;
    padding: 16px 10px;

    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline-color: #FF5400;
}

.news-letter-content form input[type=button]{
    background-color: #FF5400;
    color: #FFF;
}

.newsLetter-sample-img{
    width: 48%;
}

.newsLetter-sample-img img{
    width: 100%;
}

/* --------------Footer------------- */
.contact-journeyer {
    background: rgba(19, 19, 24, 0.05);
    width: 130vw;
    height: 40vh;
    padding: 5vh 0;

    margin: 0 2vw;
}

.contact-details{
    width: 60vw;
    text-align: center;
}

.social-icons a{
    margin-right: 3vw;
}

/*-----------------------------------------------
 -------------------------------------------------- */
}

